a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
	text-decoration: none;
}

li {
	transition: all 0.3s ease-in-out;
}

.list-group-item {
	width: 50%;
}

li.hoverlist:hover {
	text-decoration: none;
	margin-left: 40px;
	color: #000;
	transition: all 0.3s ease-in-out;
}

